
.form-container{
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.waves{
  width: 100%;
}
.Auth{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}
.form-container a{
  width: 100%;
}